@import "./base/variables.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 1s, border-color 1s;
  scrollbar-width: none;
}
*::-webkit-scrollbar {
  width: 0;
  height: 0;
}

body {
  background-color: var(--bg-main-color);
}
body p,
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  transition: color 1s;
}

button {
  cursor: pointer;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-enter {
  animation: slide-in-bottom 0.5s ease-out both;
}

.main-layout {
  font-family: "Noto Sans Display", sans-serif;
  width: 100%;
  height: 100dvh;
  background-color: var(--bg-main-color);
  container-type: inline-size;
  display: flex;
  flex-direction: column;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.main-layout .outlet {
  flex-grow: 1;
  overflow-y: auto;
}

@keyframes button-theme-in {
  0% {
    transform: translateY(-150%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes button-theme-out {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(150%);
    opacity: 0;
  }
}
@keyframes enter-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand2 {
  0% {
    letter-spacing: 0.5em;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-150px) rotate(-180deg);
    transform: translateX(-150px) rotate(-180deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes color-change-1 {
  0% {
    background-color: rgba(228, 7, 7, 0.5);
    width: 65cqmin;
    height: 65cqmin;
    border-radius: 50%;
  }
  20% {
    background-color: rgba(252, 236, 7, 0.6117647059);
    width: 67cqmin;
    height: 67cqmin;
    border-radius: 45%;
  }
  40% {
    background-color: rgba(92, 239, 7, 0.5725490196);
    width: 65cqmin;
    height: 65cqmin;
    border-radius: 40%;
  }
  60% {
    background-color: rgba(8, 75, 218, 0.5960784314);
    width: 67cqmin;
    height: 67cqmin;
    border-radius: 45%;
  }
  80% {
    background-color: rgba(203, 10, 229, 0.5803921569);
    width: 65cqmin;
    height: 65cqmin;
    border-radius: 50%;
  }
  100% {
    background-color: rgba(230, 9, 119, 0.5803921569);
    width: 67cqmin;
    height: 67cqmin;
    border-radius: 45%;
  }
}
@-webkit-keyframes color-change-1 {
  0% {
    background-color: rgba(228, 7, 7, 0.5);
    width: 65cqmin;
    height: 65cqmin;
    border-radius: 50%;
  }
  20% {
    background-color: rgba(252, 236, 7, 0.6117647059);
    width: 67cqmin;
    height: 67cqmin;
    border-radius: 45%;
  }
  40% {
    background-color: rgba(92, 239, 7, 0.5725490196);
    width: 65cqmin;
    height: 65cqmin;
    border-radius: 40%;
  }
  60% {
    background-color: rgba(8, 75, 218, 0.5960784314);
    width: 67cqmin;
    height: 67cqmin;
    border-radius: 45%;
  }
  80% {
    background-color: rgba(203, 10, 229, 0.5803921569);
    width: 65cqmin;
    height: 65cqmin;
    border-radius: 50%;
  }
  100% {
    background-color: rgba(230, 9, 119, 0.5803921569);
    width: 67cqmin;
    height: 67cqmin;
    border-radius: 45%;
  }
}
@keyframes color-change-2 {
  0% {
    color: rgba(228, 7, 7, 0.497);
    text-shadow: 0 0 3cqmin rgb(228, 7, 7);
  }
  20% {
    color: rgba(252, 236, 7, 0.6392156863);
    text-shadow: 0 0 3cqmin #fcec07;
  }
  40% {
    color: rgba(92, 239, 7, 0.6901960784);
    text-shadow: 0 0 3cqmin #5cef07;
  }
  60% {
    color: rgba(8, 75, 218, 0.7058823529);
    text-shadow: 0 0 3cqmin #084bda;
  }
  80% {
    color: rgba(203, 10, 229, 0.6431372549);
    text-shadow: 0 0 3cqmin #cb0ae5;
  }
  100% {
    color: rgba(230, 9, 119, 0.6274509804);
    text-shadow: 0 0 3cqmin #e60977;
  }
}
@keyframes color-change-1-small {
  0% {
    background-color: rgba(228, 7, 7, 0.5);
    width: 80cqmin;
    height: 80cqmin;
    border-radius: 50%;
  }
  20% {
    background-color: rgba(252, 236, 7, 0.6117647059);
    width: 82cqmin;
    height: 82cqmin;
    border-radius: 45%;
  }
  40% {
    background-color: rgba(92, 239, 7, 0.5725490196);
    width: 80cqmin;
    height: 80cqmin;
    border-radius: 40%;
  }
  60% {
    background-color: rgba(8, 75, 218, 0.5960784314);
    width: 82cqmin;
    height: 82cqmin;
    border-radius: 45%;
  }
  80% {
    background-color: rgba(203, 10, 229, 0.5803921569);
    width: 80cqmin;
    height: 80cqmin;
    border-radius: 50%;
  }
  100% {
    background-color: rgba(230, 9, 119, 0.5803921569);
    width: 82cqmin;
    height: 82cqmin;
    border-radius: 45%;
  }
}
@-webkit-keyframes color-change-1-small {
  0% {
    background-color: rgba(228, 7, 7, 0.5);
    width: 80cqmin;
    height: 80cqmin;
    border-radius: 50%;
  }
  20% {
    background-color: rgba(252, 236, 7, 0.6117647059);
    width: 82cqmin;
    height: 82cqmin;
    border-radius: 45%;
  }
  40% {
    background-color: rgba(92, 239, 7, 0.5725490196);
    width: 80cqmin;
    height: 80cqmin;
    border-radius: 40%;
  }
  60% {
    background-color: rgba(8, 75, 218, 0.5960784314);
    width: 82cqmin;
    height: 82cqmin;
    border-radius: 45%;
  }
  80% {
    background-color: rgba(203, 10, 229, 0.5803921569);
    width: 80cqmin;
    height: 80cqmin;
    border-radius: 50%;
  }
  100% {
    background-color: rgba(230, 9, 119, 0.5803921569);
    width: 82cqmin;
    height: 82cqmin;
    border-radius: 45%;
  }
}
@keyframes flicker-in-main {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  10.1% {
    opacity: 1;
  }
  10.2% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  20.1% {
    opacity: 1;
  }
  20.6% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  30.1% {
    opacity: 1;
  }
  30.5% {
    opacity: 1;
  }
  30.6% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  45.1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  55.1% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  57.1% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.1% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  65.1% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  75.1% {
    opacity: 0;
  }
  77% {
    opacity: 0;
  }
  77.1% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  85.1% {
    opacity: 0;
  }
  86% {
    opacity: 0;
  }
  86.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-100dvh);
    transform: translateY(-100dvh);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-100dvh);
    transform: translateY(-100dvh);
    opacity: 0;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(50dvh);
    transform: translateY(50dvh);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
.main {
  height: 100%;
}
@media only screen and (max-width: 1000px) {
  .main {
    position: relative;
    z-index: -5;
  }
}
.main_central {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 45% 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 3cqmin;
}
@media only screen and (max-width: 1000px) {
  .main_central {
    grid-template-columns: 100%;
    grid-template-rows: 20% 57% 23%;
    row-gap: 0;
  }
}
.main_central_h1 {
  grid-row: 1/2;
  grid-column: 1/2;
  align-self: end;
  container-type: inline-size;
}
@media only screen and (max-width: 1000px) {
  .main_central_h1 {
    grid-column: 1/2;
    grid-row: 1/2;
    container-type: size;
    align-self: stretch;
  }
}
.main_central_h1_text {
  font-family: "Comforter";
  font-size: 30cqmin;
  transform: rotate(-13deg) translate(30cqmin, 2cqmin);
  padding-left: 0;
}
@media only screen and (max-width: 1000px) {
  .main_central_h1_text {
    font-size: 70cqmin;
    padding-left: 15%;
    transform: rotate(-13deg) translate(0cqmin, 10cqmin);
  }
}
.main_central_h1_text.ru {
  font-size: 25cqmin;
  transform: rotate(-13deg) translate(25cqmin, -2cqmin);
}
@media only screen and (max-width: 1000px) {
  .main_central_h1_text.ru {
    transform: rotate(-13deg) translate(-10cqmin, 10cqmin);
    font-size: 60cqmin;
  }
}
.main_central_h1_text.animation1 {
  color: rgba(228, 7, 7, 0.508);
  text-shadow: 0 0 3cqmin rgb(228, 7, 7);
  animation: flicker-in-main 1.2s linear 2.3s both;
}
.main_central_h1_text.animation2 {
  animation: color-change-2 8s linear infinite alternate both;
}
.main_central_h2 {
  grid-row: 2/3;
  grid-column: 1/2;
  container-type: inline-size;
  align-self: start;
  padding-left: 10cqmin;
}
@media only screen and (max-width: 1000px) {
  .main_central_h2 {
    grid-column: 1/2;
    grid-row: 3/4;
    container-type: size;
    align-self: stretch;
  }
}
.main_central_h2_text {
  color: var(--text-main-color);
  font-family: "Caveat";
  font-weight: 600;
  letter-spacing: 0.4cqmin;
  word-spacing: 1.5cqmin;
  font-size: 7cqmin;
}
@media only screen and (max-width: 1000px) {
  .main_central_h2_text {
    letter-spacing: 1cqmin;
    word-spacing: 3cqmin;
    font-size: 14cqmin;
    padding-right: 10cqmin;
  }
}
.main_central_composition {
  grid-row: 1/3;
  grid-column: 2/3;
  background-color: var(--bg-main-color);
  position: relative;
  z-index: -3;
  container-type: inline-size;
}
@media only screen and (max-width: 1000px) {
  .main_central_composition {
    grid-column: 1/2;
    grid-row: 2/3;
    container-type: size;
    align-self: stretch;
  }
}
.main_central_composition.animation {
  animation: enter-opacity 2s ease 1.5s both;
}
.main_central_composition_circle-color {
  position: absolute;
  z-index: -2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -43%);
  width: 65cqmin;
  height: 65cqmin;
  border-radius: 50%;
}
@media only screen and (max-width: 1000px) {
  .main_central_composition_circle-color {
    width: 80cqmin;
    height: 80cqmin;
  }
}
.main_central_composition_circle-color.animation1 {
  background-color: rgba(228, 7, 7, 0.5);
  animation: flicker-in-main 2s linear 1.5s both;
  -webkit-animation: flicker-in-main 2s linear 1.5s both;
}
.main_central_composition_circle-color.animation2 {
  animation: color-change-1 8s linear infinite alternate both;
  -webkit-animation: color-change-1 8s linear infinite alternate both;
}
@media only screen and (max-width: 1000px) {
  .main_central_composition_circle-color.animation2 {
    animation: color-change-1-small 8s linear infinite alternate both;
    -webkit-animation: color-change-1-small 8s linear infinite alternate both;
  }
}
.main_central_composition_filter {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4cqmin);
  -webkit-backdrop-filter: blur(4cqmin);
}
.main_central_composition_circle-1 {
  position: absolute;
  z-index: 4;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -43%);
  width: 52cqmin;
  height: 52cqmin;
  border-width: 4cqmin;
  border-color: var(--bg-main-color);
  border-style: solid;
  border-radius: 50%;
  backdrop-filter: invert(100%);
  -webkit-backdrop-filter: invert(100%);
}
@media only screen and (max-width: 1000px) {
  .main_central_composition_circle-1 {
    width: 70cqmin;
    height: 70cqmin;
  }
}
.main_central_composition_circle-2 {
  position: absolute;
  z-index: 7;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -43%) rotate(-3deg);
  width: 52cqmin;
  height: 52cqmin;
  border: 4cqmin solid;
  border-radius: 50%;
  border-color: transparent transparent var(--bg-main-color) transparent;
}
@media only screen and (max-width: 1000px) {
  .main_central_composition_circle-2 {
    width: 70cqmin;
    height: 70cqmin;
  }
}
.main_central_composition_circle-3 {
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -43%);
  width: 53cqmin;
  height: 53cqmin;
  border-width: 4cqmin;
  border-color: var(--bg-main-color);
  border-style: solid;
  border-radius: 50%;
}
@media only screen and (max-width: 1000px) {
  .main_central_composition_circle-3 {
    width: 71cqmin;
    height: 71cqmin;
  }
}
.main_central_composition img {
  position: absolute;
  z-index: 6;
  top: 50%;
  left: 50%;
  transform: translate(-53%, -57%) rotate(-4deg);
  width: 42cqmin;
}
@media only screen and (max-width: 1000px) {
  .main_central_composition img {
    width: 59cqmin;
    transform: translate(-54%, -57%) rotate(-4deg);
  }
}

.about {
  background-color: rgb(109, 230, 23);
  min-height: 100%;
}

.contacts {
  background-color: rgb(30, 13, 222);
  min-height: 100%;
}

.skills {
  background-color: rgb(9, 225, 217);
  min-height: 100%;
}

.not-found {
  height: 100dvh;
  background-color: var(--bg-main-color);
  flex-direction: column;
  user-select: none;
}
.not-found_text {
  font-family: "Noto Sans Display";
  font-weight: 500;
  font-size: clamp(30px, 4cqw, 70px);
  color: var(--text-main-color);
  margin-bottom: 10cqh;
}
.not-found_button {
  font-family: "Noto Sans Display";
  font-weight: 400;
  color: var(--text-button-color);
  background-color: var(--bg-button-color);
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: var(--text-main-color);
  padding: 1cqh 1cqw;
  margin-bottom: 4cqh;
  font-size: clamp(15px, 1.3cqw, 20px);
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: clamp(10px, 1.5cqmin, 25px);
  padding-right: clamp(20px, 4cqmin, 40px);
  min-width: max-content;
}
.header_logo {
  color: var(--text-main-color);
  font-family: "Montserrat";
  cursor: pointer;
}
.header_logo_circle {
  font-weight: 600;
  width: clamp(35px, 5cqmin, 80px);
  height: clamp(35px, 5cqmin, 80px);
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  border-color: var(--text-main-color);
  margin-right: 1cqmin;
}
@media only screen and (max-width: 400px) {
  .header_logo_circle {
    display: none;
  }
}
.header_logo_circle.rotate {
  animation: rotate-center 1s cubic-bezier(0.45, 0.92, 0.84, 1.01) both;
}
.header_logo_circle.first-animation {
  animation: roll-in-left 2s ease-out both;
}
.header_logo_circle p {
  font-size: clamp(20px, 3.2cqmin, 50px);
  text-align: center;
}
.header_logo_title {
  width: clamp(180px, 27cqmin, 300px);
  container-type: inline-size;
}
.header_logo_title_header {
  animation: tracking-in-expand 1.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0.6s both;
  font-size: 8cqw;
  font-weight: 600;
  word-spacing: 1cqw;
  letter-spacing: 0.6cqw;
  margin-bottom: 0.8cqh;
}
@media only screen and (max-width: 400px) {
  .header_logo_title_header {
    animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  }
}
.header_logo_title_subtitle {
  white-space: nowrap;
  animation: tracking-in-expand2 1.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0.6s both;
  font-weight: 300;
  font-size: 5.9cqw;
  word-spacing: 2cqw;
  letter-spacing: 0.9cqw;
}
@media only screen and (max-width: 400px) {
  .header_logo_title_subtitle {
    animation: tracking-in-expand2 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  }
}

.menu-large_wrapper {
  display: flex;
}
.menu-large_buttons.link_5 {
  animation: enter-opacity 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.45s both;
}
.menu-large_links {
  display: flex;
  gap: 2cqmin;
  margin-right: 2cqmin;
}
.menu-large_links_link {
  font-family: "Noto Sans Display";
  font-weight: 300;
  color: var(--text-main-color);
  font-size: clamp(10px, 2.4cqmin, 25px);
  text-decoration: none;
  cursor: pointer;
  position: relative;
  display: inline-block;
  overflow: hidden;
  text-decoration-skip-ink: auto;
  backface-visibility: hidden;
}
.menu-large_links_link:not(.active):before, .menu-large_links_link:not(.active):after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--text-main-color);
  transition: width 0.4s ease-out;
}
.menu-large_links_link:not(.active):after {
  right: 0;
}
@media (hover: hover) {
  .menu-large_links_link:not(.active):hover:before {
    left: 50%;
    width: 50%;
  }
  .menu-large_links_link:not(.active):hover:after {
    right: 50%;
    width: 50%;
  }
}
.menu-large_links_link.active {
  font-weight: 600;
  text-decoration: underline;
}
.menu-large_links_link.link_1 {
  animation: enter-opacity 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.25s both;
}
.menu-large_links_link.link_2 {
  animation: enter-opacity 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.3s both;
}
.menu-large_links_link.link_3 {
  animation: enter-opacity 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.35s both;
}
.menu-large_links_link.link_4 {
  animation: enter-opacity 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.4s both;
}

.menu-small.hidden {
  display: none;
}
.menu-small_icon {
  font-size: clamp(30px, 8cqw, 40px);
  color: var(--text-main-color);
  cursor: pointer;
  animation: enter-opacity 1s ease 1.3s both;
}
.menu-small_wrapper {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4cqh 12cqw;
  overflow: auto;
  background-color: var(--bg-main-color);
  animation: slide-in-top 0.6s ease-out both;
}
.menu-small_wrapper.hidden {
  animation: slide-out-top 0.6s ease-out both;
}
.menu-small_buttons {
  width: 100%;
  margin-bottom: 12cqh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-small_links {
  flex-direction: column;
  gap: 4cqh;
}
.menu-small_links_link {
  font-family: "Noto Sans Display";
  font-weight: 300;
  color: var(--text-main-color);
  font-size: clamp(10px, 7cqh, 45px);
  text-decoration: none;
  cursor: pointer;
}
.menu-small_links_link.active {
  font-weight: 600;
  text-decoration: underline;
}

.button-language {
  font-family: "Noto Sans Display";
  cursor: pointer;
  position: relative;
}
.button-language_value-text {
  color: var(--text-main-color);
  font-weight: 500;
  font-size: 15px;
}
@media only screen and (max-width: 700px) {
  .button-language_value-text {
    font-size: 30px;
  }
}
.button-language_caret {
  font-size: 11px;
  color: var(--text-main-color);
}
@media only screen and (max-width: 700px) {
  .button-language_caret {
    font-size: 12px;
  }
}
.button-language_list {
  pointer-events: none;
  transition: opacity 0.2s ease, transform 0.2s ease;
  opacity: 0;
  transform: translateY(-50%);
  position: absolute;
  top: 20px;
  left: -10px;
  font-size: 15px;
  z-index: 12;
}
@media only screen and (max-width: 700px) {
  .button-language_list {
    font-size: 30px;
    top: 40px;
    left: -10px;
  }
}
.button-language_list.visible {
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
}
.button-language_list-item {
  padding: 3px 10px;
  color: var(--text-main-color);
}
.button-language_background-for-close {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  cursor: auto;
}

.button-theme {
  width: 50px;
  color: var(--text-main-color);
  font-size: 20px;
  cursor: pointer;
}
@media only screen and (max-width: 700px) {
  .button-theme {
    font-size: 35px;
  }
}
.button-theme_icon-wrapper {
  animation: button-theme-in 1s ease forwards;
}
.button-theme_icon-wrapper-hidden {
  animation: button-theme-out 1s ease forwards;
}
.button-theme_icon-wrapper-hidden-static {
  position: absolute;
  pointer-events: none;
  opacity: 0;
}

.year-index {
  color: var(--text-main-color);
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  align-items: center;
  column-gap: 2cqmin;
  padding: 3cqmin 0;
}
.year-index_border {
  height: 2px;
}
.year-index_border.left {
  background: linear-gradient(to left, var(--text-main-color) 0%, rgba(0, 0, 0, 0) 70%);
}
.year-index_border.right {
  background: linear-gradient(to right, var(--text-main-color) 0%, rgba(0, 0, 0, 0) 70%);
}
.year-index_number {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 4cqmin;
}

.projects-item {
  display: flex;
  align-items: center;
  padding: 6cqmin 8cqmin;
  column-gap: 8cqmin;
  height: max-content;
}
.projects-item_position-right {
  flex-direction: row-reverse;
}
.projects-item_img {
  width: 47%;
  box-shadow: 2px 2px 20px rgb(0, 0, 0);
  border-radius: 12px;
}
.projects-item_description {
  row-gap: 1.5cqmin;
  container-type: inline-size;
  align-self: stretch;
  flex-grow: 1;
  color: var(--text-main-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.projects-item_description_name {
  text-align: center;
  margin-bottom: 1.5cqmin;
  font-family: "Caveat";
  font-size: clamp(25px, 5cqmin, 50px);
  letter-spacing: 0.3cqmin;
}
.projects-item_description_name-line {
  height: 2px;
  background: linear-gradient(to right, transparent 10%, var(--text-main-color) 50%, transparent 90%);
}
.projects-item_description_text-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 1cqmin;
  text-align: center;
  font-size: clamp(15px, 2.5cqmin, 30px);
  font-weight: 300;
}
.projects-item_description_stack-wrapper {
  flex-wrap: wrap;
  gap: 1cqmin;
}
.projects-item_description_stack {
  font-size: clamp(15px, 2cqmin, 30px);
  padding: 0.3cqmin 0.6cqmin;
  background-color: var(--bg-stack-item-color);
  border-radius: 5px;
}
.projects-item_description_link-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5cqmin;
}
.projects-item_description_link {
  font-family: "Caveat";
  display: flex;
  align-items: center;
  column-gap: 0.5cqmin;
  font-size: clamp(18px, 2.5cqmin, 33px);
  text-decoration: none;
  color: var(--text-main-color);
}/*# sourceMappingURL=index.css.map */