@import "./base/variables.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 1s, border-color 1s;
}

body {
  background-color: var(--bg-main-color);
}
body p,
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  transition: color 1s;
}

button {
  cursor: pointer;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-layout {
  font-family: "Noto Sans Display", "Playfair Display SC", sans-serif;
  width: 100%;
  height: 100dvh;
  background-color: var(--bg-main-color);
  container-type: inline-size;
  display: flex;
  flex-direction: column;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.main-layout .outlet {
  flex-grow: 1;
  overflow-y: auto;
}

@keyframes button-theme-in {
  0% {
    transform: translateY(-150%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes button-theme-out {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(150%);
    opacity: 0;
  }
}
@keyframes scale-in-ver-top {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
}
@keyframes scale-out-ver-bottom {
  0% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    opacity: 1;
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand2 {
  0% {
    letter-spacing: 0.5em;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-150px) rotate(-180deg);
    transform: translateX(-150px) rotate(-180deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes color-change-5x {
  0% {
    background: rgba(228, 7, 7, 0.293);
  }
  20% {
    background: rgba(252, 236, 7, 0.5215686275);
  }
  40% {
    background: rgba(92, 239, 7, 0.5058823529);
  }
  60% {
    background: rgba(8, 75, 218, 0.5215686275);
  }
  80% {
    background: rgba(203, 10, 229, 0.4784313725);
  }
  100% {
    background: rgba(230, 9, 119, 0.4941176471);
  }
}
@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes flicker-in-1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  10.1% {
    opacity: 1;
  }
  10.2% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  20.1% {
    opacity: 1;
  }
  20.6% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  30.1% {
    opacity: 1;
  }
  30.5% {
    opacity: 1;
  }
  30.6% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  45.1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  55.1% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  57.1% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.1% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  65.1% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  75.1% {
    opacity: 0;
  }
  77% {
    opacity: 0;
  }
  77.1% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  85.1% {
    opacity: 0;
  }
  86% {
    opacity: 0;
  }
  86.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.main {
  height: 100%;
}
.main_central {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
}
.main_central_h1 {
  width: 40%;
}
.main_central_composition {
  flex-grow: 1;
  border-radius: 20%;
  background-color: var(--bg-main-color);
  position: relative;
  container-type: inline-size;
  animation: fade-in-fwd 3s cubic-bezier(0.39, 0.575, 0.565, 1) 2s both;
}
.main_central_composition_circle-color {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -43%);
  width: 65cqmin;
  height: 65cqmin;
  border-radius: 50%;
}
.main_central_composition_circle-color.animation1 {
  background: rgba(228, 7, 7, 0.293);
  animation: flicker-in-1 2s linear 2.5s both;
}
.main_central_composition_circle-color.animation2 {
  animation: color-change-5x 10s linear infinite alternate both;
}
.main_central_composition_filter {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4cqmin);
  border-radius: 20%;
}
.main_central_composition_circle-1 {
  position: absolute;
  z-index: 4;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -43%);
  width: 52cqmin;
  height: 52cqmin;
  border-width: 4cqmin;
  border-color: var(--bg-main-color);
  border-style: solid;
  border-radius: 50%;
  backdrop-filter: invert(100%);
}
.main_central_composition_circle-2 {
  position: absolute;
  z-index: 7;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -43%) rotate(-3deg);
  width: 52cqmin;
  height: 52cqmin;
  border: 4cqmin solid;
  border-radius: 50%;
  border-color: transparent transparent var(--bg-main-color) transparent;
}
.main_central_composition_circle-3 {
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -43%);
  width: 53cqmin;
  height: 53cqmin;
  border-width: 4cqmin;
  border-color: var(--bg-main-color);
  border-style: solid;
  border-radius: 50%;
}
.main_central_composition img {
  position: absolute;
  z-index: 6;
  top: 50%;
  left: 50%;
  transform: translate(-53%, -57%) rotate(-4deg);
  width: 42cqmin;
}

.about {
  height: 100%;
}

.contacts {
  height: 100%;
}

.not-found {
  height: 100dvh;
  background-color: var(--bg-main-color);
  flex-direction: column;
  user-select: none;
}
.not-found_text {
  font-family: "Noto Sans Display";
  font-weight: 500;
  font-size: clamp(30px, 4cqw, 70px);
  color: var(--text-main-color);
  margin-bottom: 10cqh;
}
.not-found_button {
  font-family: "Noto Sans Display";
  font-weight: 400;
  color: var(--text-button-color);
  background-color: var(--bg-button-color);
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: var(--text-main-color);
  padding: 1cqh 1cqw;
  margin-bottom: 4cqh;
  font-size: clamp(15px, 1.3cqw, 20px);
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: clamp(10px, 1.5cqw, 20px);
  padding-right: clamp(10px, 3cqw, 35px);
  min-width: max-content;
}
.header_space {
  flex-grow: 1;
}
.header_logo {
  color: var(--text-main-color);
  font-family: "Montserrat";
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.header_logo_circle {
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(35px, 4.7cqw, 75px);
  height: clamp(35px, 4.7cqw, 75px);
  border-radius: 50%;
  border-width: 3px;
  border-style: solid;
  border-color: var(--text-main-color);
  margin-right: 1.5cqw;
}
.header_logo_circle.rotate {
  animation: rotate-center 1s cubic-bezier(0.45, 0.92, 0.84, 1.01) both;
}
.header_logo_circle.first-animation {
  animation: roll-in-left 1s ease-out both;
}
.header_logo_circle p {
  font-size: clamp(20px, 3cqw, 50px);
  text-align: center;
}
.header_logo_title {
  width: clamp(170px, 23cqw, 500px);
  container-type: inline-size;
}
.header_logo_title_header {
  animation: tracking-in-expand 1.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0.6s both;
  font-size: 8.2cqw;
  font-weight: 600;
  word-spacing: 1cqw;
  letter-spacing: 0.6cqw;
  margin-bottom: 0.8cqh;
}
@media screen and (max-width: 400px) {
  .header_logo_title_header {
    animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  }
}
.header_logo_title_subtitle {
  white-space: nowrap;
  animation: tracking-in-expand2 1.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0.6s both;
  font-weight: 300;
  font-size: 6cqw;
  word-spacing: 2cqw;
  letter-spacing: 0.9cqw;
}
@media screen and (max-width: 400px) {
  .header_logo_title_subtitle {
    animation: tracking-in-expand2 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  }
}

@container (max-width: 1300px) {
  .header_logo_circle {
    border-width: 2px;
    border-style: solid;
    border-color: var(--text-main-color);
  }
}
@container (max-width: 400px) {
  .header {
    padding: 10px;
  }
  .header_logo_circle {
    display: none;
  }
}
.menu-large_wrapper {
  display: flex;
}
.menu-large_buttons {
  display: flex;
  align-items: center;
}
.menu-large_buttons.link_5 {
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.7s both;
}
.menu-large_links {
  display: flex;
  gap: 1.5cqw;
  margin-right: 2cqw;
}
.menu-large_links_link {
  font-family: "Noto Sans Display";
  font-weight: 300;
  color: var(--text-main-color);
  font-size: clamp(10px, 2cqw, 25px);
  text-decoration: none;
  cursor: pointer;
  position: relative;
  display: inline-block;
  overflow: hidden;
  text-decoration-skip-ink: auto;
  backface-visibility: hidden;
}
.menu-large_links_link:not(.active):before, .menu-large_links_link:not(.active):after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--text-main-color);
  transition: width 0.4s ease-out;
}
.menu-large_links_link:not(.active):after {
  right: 0;
}
@media (hover: hover) {
  .menu-large_links_link:not(.active):hover:before {
    left: 50%;
    width: 50%;
  }
  .menu-large_links_link:not(.active):hover:after {
    right: 50%;
    width: 50%;
  }
}
.menu-large_links_link.active {
  font-weight: 600;
  text-decoration: underline;
}
.menu-large_links_link.link_1 {
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.3s both;
}
.menu-large_links_link.link_2 {
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.4s both;
}
.menu-large_links_link.link_3 {
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.5s both;
}
.menu-large_links_link.link_4 {
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.6s both;
}

.menu-small.hidden {
  display: none;
}
.menu-small_icon {
  font-size: clamp(30px, 8cqw, 40px);
  color: var(--text-main-color);
  cursor: pointer;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s both;
}
@media screen and (max-width: 400px) {
  .menu-small_icon {
    animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.7s both;
  }
}
.menu-small_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4cqh 12cqw;
  overflow: auto;
  background-color: var(--bg-main-color);
  animation: scale-in-ver-top 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.menu-small_wrapper.hidden {
  animation: scale-out-ver-bottom 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
.menu-small_buttons {
  width: 100%;
  margin-bottom: 12cqh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-small_links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4cqh;
}
.menu-small_links_link {
  font-family: "Noto Sans Display";
  font-weight: 300;
  color: var(--text-main-color);
  font-size: clamp(10px, 7cqh, 45px);
  text-decoration: none;
  cursor: pointer;
}
.menu-small_links_link.active {
  font-weight: 600;
  text-decoration: underline;
}

.button-language {
  font-family: "Noto Sans Display";
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.button-language_value-text {
  color: var(--text-main-color);
  font-weight: 500;
  font-size: 15px;
}
.button-language_caret {
  font-size: 11px;
  color: var(--text-main-color);
}
.button-language_list {
  pointer-events: none;
  transition: opacity 0.2s ease, transform 0.2s ease;
  opacity: 0;
  transform: translateY(-50%);
  list-style: none;
  position: absolute;
  top: 23px;
  left: -10px;
  font-size: 14px;
  z-index: 12;
}
.button-language_list.visible {
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
}
.button-language_list-item {
  padding: 3px 10px;
  color: var(--text-main-color);
}
.button-language_background-for-close {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  cursor: auto;
}

@container (max-width: 700px) {
  .button-language_value-text {
    font-size: 30px;
  }
  .button-language_caret {
    font-size: 12px;
  }
  .button-language_list {
    font-size: 30px;
    top: 40px;
    left: -10px;
  }
}
.button-theme {
  width: 50px;
  color: var(--text-main-color);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.button-theme_icon-wrapper {
  animation: button-theme-in 1s ease forwards;
}
.button-theme_icon-wrapper-hidden {
  animation: button-theme-out 1s ease forwards;
}
.button-theme_icon-wrapper-hidden-static {
  position: absolute;
  pointer-events: none;
  opacity: 0;
}
.button-theme_icon-wrapper-static {
  display: flex;
  align-items: center;
  justify-content: center;
}

@container (max-width: 700px) {
  .button-theme {
    font-size: 35px;
  }
}/*# sourceMappingURL=index.css.map */