.about-card {
    color: var(--text-main-color);
    width: 70cqmin;
    height: 50cqmin;
    background-color: var(--bg-skills-card-color);
    border-radius: 15px;
    position: absolute;
    border: 4px solid black;
    cursor: pointer;
    &.in-motion {
        animation: card-in-motion 2s ease both;
    }
}
