.button-theme {
    width: 50px;
    color: var(--text-main-color);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &_icon-wrapper {
        animation: button-theme-in 1s ease forwards;
        &-hidden {
            animation: button-theme-out 1s ease forwards;
            &-static {
                position: absolute;
                pointer-events: none;
                opacity: 0;
            }
        }
        &-static {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

@container (max-width: 700px) {
    .button-theme {
        font-size: 35px;
    }
}
