.button-language {
    font-family: "Noto Sans Display";
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    &_value-text {
        color: var(--text-main-color);
        font-weight: 500;
        font-size: 15px;
    }
    &_caret {
        font-size: 11px;
    }
    &_list {
        opacity: 1;
        transition: opacity 0.2s ease, transform 0.2s ease;

        list-style: none;
        position: absolute;
        top: 23px;
        left: -10px;
        font-size: 14px;
        &.hidden {
            transform: translateY(-30%);
            opacity: 0;
        }
        &-item {
            padding: 3px 10px;
            color: var(--text-main-color);
        }
    }
}

@keyframes slideInDown {
    0% {
        transform: translateY(-50%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideOutUp {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-50%);
        opacity: 0;
    }
}
