.header {
    width: 100%;
    display: flex;
    align-items: center;
    padding: clamp(10px, 1.5cqw, 20px);
    padding-right: clamp(10px, 3cqw, 35px);
    min-width: max-content;
    &_space {
        flex-grow: 1;
    }
    &_logo {
        color: var(--text-main-color);
        font-family: "Montserrat";
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &_circle {
            font-weight: 600;
            display: flex;
            justify-content: center;
            align-items: center;
            width: clamp(35px, 4.7cqw, 75px);
            height: clamp(35px, 4.7cqw, 75px);
            border-radius: 50%;
            border-width: 3px;
            border-style: solid;
            border-color: var(--text-main-color);
            margin-right: 1.5cqw;
            p {
                font-size: clamp(20px, 3cqw, 50px);
                text-align: center;
            }
        }
        &_title {
            width: clamp(170px, 23cqw, 500px);
            container-type: inline-size;
            &_header {
                font-size: 8.2cqw;
                font-weight: 600;
                word-spacing: 1cqw;
                letter-spacing: 0.6cqw;
                margin-bottom: 0.8cqh;
            }
            &_subtitle {
                font-weight: 300;
                font-size: 6cqw;
                word-spacing: 2cqw;
                letter-spacing: 0.9cqw;
            }
        }
    }
}

@container (max-width: 1300px) {
    .header {
        &_logo {
            &_circle {
                border-width: 2px;
                border-style: solid;
                border-color: var(--text-main-color);
            }
        }
    }
}
@container (max-width: 400px) {
    .header {
        padding: 10px;
        &_logo {
            &_circle {
                display: none;
            }
        }
    }
}
