.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: clamp(10px, 1.5cqmin, 25px);
    padding-right: clamp(20px, 4cqmin, 40px);
    min-width: max-content;
    &_logo {
        color: var(--text-main-color);
        font-family: "Montserrat";
        cursor: pointer;
        &_circle {
            font-weight: 600;
            width: clamp(35px, 5.2cqmin, 80px);
            height: clamp(35px, 5.2cqmin, 80px);
            border-radius: 50%;
            border-width: 2px;
            border-style: solid;
            border-color: var(--text-main-color);
            margin-right: 1cqmin;
            @include respond(xs) {
                display: none;
            }
            &.rotate {
                animation: rotate-center 1s cubic-bezier(0.45, 0.92, 0.84, 1.01)
                    both;
            }
            &.first-animation {
                animation: roll-in-left 1s ease-out both;
            }
            p {
                font-size: clamp(20px, 3.2cqmin, 50px);
                text-align: center;
            }
        }
        &_title {
            width: clamp(180px, 27cqmin, 300px);
            container-type: inline-size;
            &_header {
                animation: tracking-in-expand 1.2s
                    cubic-bezier(0.215, 0.61, 0.355, 1) 0.8s both;
                font-size: 8cqw;
                font-weight: 600;
                word-spacing: 1cqw;
                letter-spacing: 0.6cqw;
                margin-bottom: 0.8cqh;
                @include respond(xs) {
                    animation: tracking-in-expand 1.5s
                        cubic-bezier(0.215, 0.61, 0.355, 1) both;
                }
            }
            &_subtitle {
                white-space: nowrap;
                animation: tracking-in-expand2 1.2s
                    cubic-bezier(0.215, 0.61, 0.355, 1) 0.8s both;
                font-weight: 300;
                font-size: 5.9cqw;
                word-spacing: 2cqw;
                letter-spacing: 0.9cqw;
                @include respond(xs) {
                    animation: tracking-in-expand2 1.5s
                        cubic-bezier(0.215, 0.61, 0.355, 1) both;
                }
            }
        }
    }
}
