.menu-large {
    &_wrapper {
        display: flex;
    }
    &_buttons {
        display: flex;
        align-items: center;
    }
    &_links {
        display: flex;
        gap: 1.5cqw;
        margin-right: 2cqw;
        &_link {
            font-family: "Noto Sans Display";
            font-weight: 300;
            color: var(--text-main-color);
            font-size: clamp(10px, 2cqw, 25px);
            text-decoration: none;
            cursor: pointer;
            &.active {
                font-weight: 600;
                text-decoration: underline;
            }
        }
    }
}

.menu-small {
    &.hidden {
        display: none;
    }
    &_icon {
        font-size: clamp(30px, 8cqw, 40px);
        color: var(--text-main-color);
        cursor: pointer;
    }
    &_wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100dvw;
        height: 100dvh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(5px);
    }
    &_buttons {
        margin-top: 16cqw;
        display: flex;
        align-items: center;
        gap: 20cqw;
    }
    &_links {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3cqh;
        &_link {
            font-family: "Noto Sans Display";
            font-weight: 300;
            color: var(--text-main-color);
            font-size: clamp(20px, 10cqw, 50px);
            text-decoration: none;
            cursor: pointer;
            &.active {
                font-weight: 600;
                text-decoration: underline;
            }
        }
    }
}
