.menu-large {
    &_wrapper {
        display: flex;
    }
    &_buttons {
        display: flex;
        align-items: center;
    }
    &_links {
        display: flex;
        gap: 1.5cqw;
        margin-right: 2cqw;
        &_link {
            font-family: "Noto Sans Display";
            font-weight: 300;
            color: var(--text-main-color);
            font-size: clamp(10px, 2cqw, 25px);
            text-decoration: none;
            cursor: pointer;
            position: relative;
            display: inline-block;
            overflow: hidden;
            &:not(.active) {
                &:before,
                &:after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    width: 0;
                    height: 2px;
                    background-color: var(--text-main-color);
                    transition: width 0.4s ease-out;
                }
                &:after {
                    right: 0;
                }
                @include hover {
                    &:hover {
                        &:before {
                            left: 50%;
                            width: 50%;
                        }

                        &:after {
                            right: 50%;
                            width: 50%;
                        }
                    }
                }
            }

            text-decoration-skip-ink: auto;
            backface-visibility: hidden;
            &.active {
                font-weight: 600;
                text-decoration: underline;
            }
        }
    }
}

.menu-small {
    &.hidden {
        display: none;
    }
    &_icon {
        font-size: clamp(30px, 8cqw, 40px);
        color: var(--text-main-color);
        cursor: pointer;
    }
    &_wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100dvw;
        height: 100dvh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4cqh 12cqw;
        overflow: auto;
        background-color: var(--bg-main-color);
        animation: scale-in-ver-top 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94)
            both;
        &.hidden {
            animation: scale-out-ver-bottom 0.4s
                cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
        }
    }
    &_buttons {
        width: 100%;
        margin-bottom: 12cqh;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &_links {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4cqh;
        &_link {
            font-family: "Noto Sans Display";
            font-weight: 300;
            color: var(--text-main-color);
            font-size: clamp(10px, 7cqh, 45px);
            text-decoration: none;
            cursor: pointer;
            &.active {
                font-weight: 600;
                text-decoration: underline;
            }
        }
    }
}
