.menu-large {
    &_wrapper {
        display: flex;
    }
    &_buttons {
        display: flex;
        align-items: center;
    }
    &_links {
        display: flex;
    }
}

.menu-small {
    &.hidden {
        display: none;
    }
    &_icon {
        font-size: clamp(30px, 8cqw, 40px);
        color: var(--text-main-color);
        cursor: pointer;
    }
    &_wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100dvw;
        height: 100dvh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(5px);
    }
    &_buttons {
        margin-top: 16cqw;
        display: flex;
        align-items: center;
        gap: 20cqw;
    }
    &_links {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
