.projects-item {
    display: flex;
    align-items: stretch;
    padding: 6cqmin 8cqmin;
    column-gap: 8cqmin;
    height: max-content;
    &_position-right {
        flex-direction: row-reverse;
    }
    &_img {
        width: 47%;
        box-shadow: 2px 2px 20px rgb(0, 0, 0);
        border-radius: 7px;
    }
    &_description {
        flex-grow: 1;
        color: var(--text-main-color);
        // &_right{

        // }
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &_name {
            text-align: center;
            margin-bottom: 2cqmin;
            font-family: "Noto Sans Display";
            font-size: 4cqmin;
        }
        &_name-line {
            height: 2px;
            background: linear-gradient(
                to right,
                transparent 10%,
                var(--text-main-color) 50%,
                transparent 90%
            );
        }
        &_text-wrapper {
            text-align: center;
        }
        &_row-wrapper {
            display: flex;
            flex-wrap: wrap;
            row-gap: 1cqmin;
            column-gap: 2cqmin;
        }
    }
}
