.projects-item {
    display: flex;
    align-items: center;
    padding: 6cqmin 8cqmin;
    column-gap: 8cqmin;
    height: max-content;
    @include respond(l) {
        flex-direction: column;
        row-gap: 2cqmin;
    }
    &_position-right {
        flex-direction: row-reverse;
        @include respond(l) {
            flex-direction: column;
        }
    }
    &_img {
        width: 47%;
        box-shadow: 2px 2px 20px rgb(0, 0, 0);
        border-radius: 12px;
        @include respond(l) {
            width: 100%;
        }
    }
    &_description {
        row-gap: 1.5cqmin;
        container-type: inline-size;
        align-self: stretch;
        flex-grow: 1;
        color: var(--text-main-color);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        &_name {
            text-align: center;
            margin-bottom: 1.5cqmin;
            font-family: "Caveat";
            font-size: clamp(25px, 5cqmin, 50px);
            letter-spacing: 0.3cqmin;
        }
        &_name-line {
            height: 2px;
            background: linear-gradient(
                to right,
                transparent 10%,
                var(--text-main-color) 50%,
                transparent 90%
            );
        }
        &_text-wrapper {
            display: flex;
            flex-direction: column;
            row-gap: 1cqmin;
            text-align: center;
            font-size: clamp(15px, 2.5cqmin, 30px);
            font-weight: 300;
        }
        &_stack-wrapper {
            flex-wrap: wrap;
            gap: 1cqmin;
        }

        &_stack {
            font-size: clamp(15px, 2cqmin, 30px);
            padding: 0.3cqmin 0.6cqmin;
            background-color: var(--bg-stack-item-color);
            border-radius: 5px;
        }
        &_link-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 1.5cqmin;
        }
        &_link {
            font-family: "Caveat";
            display: flex;
            align-items: center;
            column-gap: 0.5cqmin;
            font-size: clamp(18px, 2.5cqmin, 33px);
            text-decoration: none;
            color: var(--text-main-color);
        }
    }
}
