.year-index {
    color: var(--text-main-color);
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;
    column-gap: 2cqmin;
    &_border {
        height: 2px;
        &.left {
            background: linear-gradient(
                to left,
                var(--text-main-color) 0%,
                rgba(0, 0, 0, 0) 70%
            );
        }
        &.right {
            background: linear-gradient(
                to right,
                var(--text-main-color) 0%,
                rgba(0, 0, 0, 0) 70%
            );
        }
    }
    &_number {
        font-family: "Montserrat";
        font-weight: 300;
        font-size: 4cqmin;
    }
}
