@keyframes button-theme-in {
    0% {
        transform: translateY(-150%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes button-theme-out {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(150%);
        opacity: 0;
    }
}
@keyframes enter-opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes tracking-in-expand2 {
    0% {
        letter-spacing: 0.5em;
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes roll-in-left {
    0% {
        -webkit-transform: translateX(-150px) rotate(-180deg);
        transform: translateX(-150px) rotate(-180deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
}
@keyframes color-change-1 {
    0% {
        background: rgba(228, 7, 7, 0.5);
        width: 65cqmin;
        height: 65cqmin;
        border-radius: 50%;
    }
    20% {
        background: #fcec079c;
        width: 67cqmin;
        height: 67cqmin;
        border-radius: 45%;
    }
    40% {
        background: #5cef0792;
        width: 65cqmin;
        height: 65cqmin;
        border-radius: 40%;
    }
    60% {
        background: #084bda98;
        width: 67cqmin;
        height: 67cqmin;
        border-radius: 45%;
    }
    80% {
        background: #cb0ae594;
        width: 65cqmin;
        height: 65cqmin;
        border-radius: 50%;
    }
    100% {
        background: #e6097794;
        width: 67cqmin;
        height: 67cqmin;
        border-radius: 45%;
    }
}
@keyframes color-change-2 {
    0% {
        color: rgba(228, 7, 7, 0.497);
        text-shadow: 0 0 3cqmin rgb(228, 7, 7);
    }
    20% {
        color: #fcec07a3;
        text-shadow: 0 0 3cqmin #fcec07;
    }
    40% {
        color: #5cef07b0;
        text-shadow: 0 0 3cqmin #5cef07;
    }
    60% {
        color: #084bdab4;
        text-shadow: 0 0 3cqmin #084bda;
    }
    80% {
        color: #cb0ae5a4;
        text-shadow: 0 0 3cqmin #cb0ae5;
    }
    100% {
        color: #e60977a0;
        text-shadow: 0 0 3cqmin #e60977;
    }
}
@keyframes flicker-in-main {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    10.1% {
        opacity: 1;
    }
    10.2% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    20.1% {
        opacity: 1;
    }
    20.6% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    30.1% {
        opacity: 1;
    }
    30.5% {
        opacity: 1;
    }
    30.6% {
        opacity: 0;
    }
    45% {
        opacity: 0;
    }
    45.1% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    55% {
        opacity: 1;
    }
    55.1% {
        opacity: 0;
    }
    57% {
        opacity: 0;
    }
    57.1% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    60.1% {
        opacity: 0;
    }
    65% {
        opacity: 0;
    }
    65.1% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    75.1% {
        opacity: 0;
    }
    77% {
        opacity: 0;
    }
    77.1% {
        opacity: 1;
    }
    85% {
        opacity: 1;
    }
    85.1% {
        opacity: 0;
    }
    86% {
        opacity: 0;
    }
    86.1% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-100dvh);
        transform: translateY(-100dvh);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-out-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(-100dvh);
        transform: translateY(-100dvh);
        opacity: 0;
    }
}
