.main-layout {
    font-family: "Noto Sans Display", sans-serif;
    width: 100%;
    max-width: 3600px;
    min-width: 330px;
    margin: 0 auto;
    height: 100dvh;
    background-color: var(--bg-main-color);
    container-type: inline-size;
    display: flex;
    flex-direction: column;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    & .outlet {
        flex-grow: 1;
        overflow-y: auto;
    }
}
