* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: background-color 1s, border-color 1s;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}

body {
    background-color: var(--bg-main-color);
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        transition: color 1s;
    }
}

button {
    cursor: pointer;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-enter {
    animation: slide-in-bottom 0.5s ease-out both;
}
