* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: color 1s;
    transition: background-color 1s;
    // scrollbar-width: none;
    // &::-webkit-scrollbar {
    //     width: 0;
    //     height: 0;
    // }
}

body {
    background-color: var(--bg-main-color);
}

@mixin hover {
    @media (hover: hover) {
        @content;
    }
}

button {
    cursor: pointer;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
