html[data-theme="light"] {
    --text-main-color: black;
    --bg-main-color: rgb(255, 255, 255);
    --text-button-color: rgb(0, 0, 0);
    --bg-button-color: rgb(172, 172, 172);
    --bg-stack-item-color: rgba(200, 200, 200, 0.61);
    --bg-stack-item-color-hover: rgb(193, 193, 193);
    --shadow-prj-img-color: rgba(0, 0, 0, 0.752);
    --shadow-skills-card-color: rgba(0, 0, 0, 0.752);
    --bg-skills-card-color: rgb(237, 237, 237);
}

html[data-theme="dark"] {
    --text-main-color: white;
    --bg-main-color: rgb(0, 0, 0);
    --text-button-color: rgb(255, 255, 255);
    --bg-button-color: rgb(49, 49, 49);
    --bg-stack-item-color: rgba(71, 71, 71, 0.664);
    --bg-stack-item-color-hover: rgb(85, 85, 85);
    --shadow-prj-img-color: rgba(255, 255, 255, 0);
    --shadow-skills-card-color: rgb(43, 43, 43);
    --bg-skills-card-color: rgb(44, 44, 44);
}