.about {
    flex-grow: 1;
    background: url(pictures/about/background.webp) center / cover no-repeat;
    &_wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100%;
        position: relative;
        padding-right: 10%;
        @include respond(s) {
            padding-right: 0;
        }
    }
    &_fake-card {
        width: 70cqmin;
        height: 50cqmin;
        border-radius: 15px;
        position: absolute;
        z-index: 0;
        box-shadow: -30px -10px 6px rgba(0, 0, 0, 0.344);
        @include respond(s) {
            width: 85cqmin;
            height: 60cqmin;
        }
        @include respond(cardsPoint) {
            display: none;
        }
    }
    &_filter {
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 100%;
        background-color: var(--filter-color-about);
    }
}
