.about {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    position: relative;
    background: url(pictures/aboutBack3.webp) center / cover  no-repeat;
}

