.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    row-gap: 4cqmin;
    padding: 30px 20px;
    overflow-y: auto;
}
