.main {
    height: 100%;
    @include respond(l) {
        position: relative;
        z-index: -5;
    }
    &_central {
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: grid;
        grid-template-columns: 45% 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 3cqmin;
        @include respond(l) {
            grid-template-columns: 100%;
            grid-template-rows: 20% 55% 25%;
        }
        &_h1 {
            grid-row: 1 / 2;
            grid-column: 1/ 2;
            align-self: end;
            container-type: inline-size;
            @include respond(l) {
                grid-column: 1 / 2;
                grid-row: 1 / 2;
                container-type: size;
                align-self: stretch;
            }
            &_text {
                font-family: "Comforter";
                font-size: 30cqmin;
                transform: rotate(-10deg) translate(30cqmin, 1cqmin);
                padding-left: 0;
                @include respond(l) {
                    font-family: "Comforter";
                    font-size: 70cqmin;
                    transform: rotate(-20deg);
                    padding-left: 15%;
                }
                &.ru {
                    font-size: 30cqmin;
                    transform: rotate(-10deg) translate(20cqmin, 1cqmin);
                }
                &.animation1 {
                    color: rgba(228, 7, 7, 0.508);
                    text-shadow: 0 0 3cqmin rgb(228, 7, 7);
                    animation: flicker-in-main 1.2s linear 2.3s both;
                }
                &.animation2 {
                    animation: color-change-2 8s linear infinite alternate both;
                }
            }
        }
        &_h2 {
            grid-row: 2 / 3;
            grid-column: 1 / 2;
            container-type: inline-size;
            align-self: start;
            padding-left: 10cqmin;
            @include respond(l) {
                grid-column: 1 / 2;
                grid-row: 3 / 4;
                container-type: size;
                align-self: stretch;
            }
            &_text {
                color: var(--text-main-color);
                font-family: "Caveat";
                font-weight: 600;
                letter-spacing: 0.4cqmin;
                word-spacing: 1.5cqmin;
                font-size: 7cqmin;
            }
        }
        &_composition {
            grid-row: 1 / 3;
            grid-column: 2 / 3;
            background-color: var(--bg-main-color);
            position: relative;
            z-index: -3;
            container-type: inline-size;
            @include respond(l) {
                grid-column: 1 / 2;
                grid-row: 2 / 3;
                container-type: size;
                align-self: stretch;
            }
            &.animation {
                animation: enter-opacity 2s ease 1.5s both;
            }
            &_circle-color {
                position: absolute;
                z-index: -2;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -43%);
                width: 65cqmin;
                height: 65cqmin;
                border-radius: 50%;
                &.animation1 {
                    background: rgba(228, 7, 7, 0.5);
                    animation: flicker-in-main 2s linear 1.5s both;
                }
                &.animation2 {
                    animation: color-change-1 8s linear infinite alternate both;
                }
            }
            &_filter {
                position: absolute;
                z-index: -1;
                width: 100%;
                height: 100%;
                backdrop-filter: blur(4cqmin);
            }
            &_circle-1 {
                position: absolute;
                z-index: 4;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -43%);
                width: 52cqmin;
                height: 52cqmin;
                border-width: 4cqmin;
                border-color: var(--bg-main-color);
                border-style: solid;
                border-radius: 50%;
                backdrop-filter: invert(100%);
            }
            &_circle-2 {
                position: absolute;
                z-index: 7;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -43%) rotate(-3deg);
                width: 52cqmin;
                height: 52cqmin;
                border: 4cqmin solid;
                border-radius: 50%;
                border-color: transparent transparent var(--bg-main-color)
                    transparent;
            }
            &_circle-3 {
                position: absolute;
                z-index: 5;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -43%);
                width: 53cqmin;
                height: 53cqmin;
                border-width: 4cqmin;
                border-color: var(--bg-main-color);
                border-style: solid;
                border-radius: 50%;
            }
            & img {
                position: absolute;
                z-index: 6;
                top: 50%;
                left: 50%;
                transform: translate(-53%, -57%) rotate(-4deg);
                width: 42cqmin;
            }
        }
    }
}
