.main {
    height: 100%;
    &_central {
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: grid;
        grid-template-columns: 45% 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 3cqmin;
        &_h1 {
            grid-row: 1 / 2;
            grid-column: 1/ 2;
            align-self: end;
            width: 100%;
            container-type: inline-size;
            &_text {
                font-family: "Comforter";
                font-size: 30cqmin;
                transform: rotate(-10deg) translate(30cqmin, 3cqmin);
                &.animation1 {
                    color: rgba(228, 7, 7, 0.508);
                    text-shadow: 0 0 3cqmin rgb(228, 7, 7);
                    animation: flicker-in-1 1.9s linear 2.1s both;
                }
                &.animation2 {
                    animation: color-change2-5x 8s linear infinite alternate
                        both;
                }
            }
        }
        &_h2 {
            grid-row: 2 / 3;
            grid-column: 1 / 2;
            width: 100%;
            container-type: inline-size;
            align-self: start;
            padding-left: 10cqmin;

            &_text {
                color: var(--text-main-color);
                font-family: "Caveat";
                letter-spacing: 0.4cqmin;
                word-spacing: 1.5cqmin;
                font-size: 7cqmin;
            }
        }
        &_composition {
            grid-row: 1 / span 2;
            grid-column: 2 / 3;
            border-radius: 20%;
            background-color: var(--bg-main-color);
            position: relative;
            container-type: inline-size;
            &.non-visited-animation {
                animation: fade-in-fwd 3s cubic-bezier(0.39, 0.575, 0.565, 1)
                    1.8s both;
            }
            &_circle-color {
                position: absolute;
                z-index: 1;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -43%);
                width: 65cqmin;
                height: 65cqmin;
                border-radius: 50%;
                &.animation1 {
                    background: rgba(228, 7, 7, 0.5);
                    animation: flicker-in-1 2s linear 2s both;
                }
                &.animation2 {
                    animation: color-change-5x 8s linear infinite alternate both;
                }
            }
            &_filter {
                position: absolute;
                z-index: 2;
                width: 100%;
                height: 100%;
                backdrop-filter: blur(4cqmin);
                border-radius: 20%;
            }
            &_circle-1 {
                position: absolute;
                z-index: 4;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -43%);
                width: 52cqmin;
                height: 52cqmin;
                border-width: 4cqmin;
                border-color: var(--bg-main-color);
                border-style: solid;
                border-radius: 50%;
                backdrop-filter: invert(100%);
            }
            &_circle-2 {
                position: absolute;
                z-index: 7;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -43%) rotate(-3deg);
                width: 52cqmin;
                height: 52cqmin;
                border: 4cqmin solid;
                border-radius: 50%;
                border-color: transparent transparent var(--bg-main-color)
                    transparent;
            }
            &_circle-3 {
                position: absolute;
                z-index: 5;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -43%);
                width: 53cqmin;
                height: 53cqmin;
                border-width: 4cqmin;
                border-color: var(--bg-main-color);
                border-style: solid;
                border-radius: 50%;
            }
            & img {
                position: absolute;
                z-index: 6;
                top: 50%;
                left: 50%;
                transform: translate(-53%, -57%) rotate(-4deg);
                width: 42cqmin;
            }
        }
    }
}
