.main {
    flex-grow: 1;
    &_central {
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: grid;
        grid-template-columns: 45% 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 3cqmin;
        @include respond(l) {
            grid-template-columns: 100%;
            grid-template-rows: 20% 60% 20%;
            row-gap: 0;
        }
        &_h1 {
            grid-row: 1 / 2;
            grid-column: 1/ 2;
            align-self: end;
            container-type: inline-size;
            z-index: 1;
            @include respond(l) {
                grid-column: 1 / 2;
                grid-row: 1 / 2;
                container-type: size;
                align-self: stretch;
            }
            &_text {
                font-family: "Comforter";
                font-size: 30cqmin;
                transform: rotate(-13deg) translate(30cqmin, 2cqmin);
                padding-left: 0;
                @include respond(l) {
                    font-size: 70cqmin;
                    padding-left: 15%;
                    transform: rotate(-13deg) translate(0cqmin, 10cqmin);
                }
                &.ru {
                    font-size: 25cqmin;
                    transform: rotate(-13deg) translate(25cqmin, -2cqmin);
                    @include respond(l) {
                        transform: rotate(-13deg) translate(-10cqmin, 10cqmin);
                        font-size: 60cqmin;
                    }
                }
                &.animation1 {
                    color: rgba(228, 7, 7, 0.508);
                    text-shadow: 0 0 3cqmin rgb(228, 7, 7);
                    animation: flicker-in-main 1.2s linear 2.3s both;
                }
                &.animation2 {
                    animation: color-change-2 8s linear infinite alternate both;
                }
            }
        }
        &_h2 {
            grid-row: 2 / 3;
            grid-column: 1 / 2;
            container-type: inline-size;
            align-self: start;
            padding-left: 10cqmin;
            text-align: center;
            @include respond(l) {
                grid-column: 1 / 2;
                grid-row: 3 / 4;
                container-type: size;
                align-self: stretch;
            }
            &_text {
                color: var(--text-main-color);
                font-family: "Caveat";
                font-weight: 600;
                letter-spacing: 0.4cqmin;
                word-spacing: 1.5cqmin;
                font-size: 7cqmin;
                @include respond(l) {
                    letter-spacing: 1cqmin;
                    word-spacing: 3cqmin;
                    font-size: 14cqmin;
                    padding-right: 10cqmin;
                }
            }
        }
        &_composition {
            grid-row: 1 / 3;
            grid-column: 2 / 3;
            background-color: var(--bg-main-color);
            position: relative;
            container-type: inline-size;
            @include respond(l) {
                grid-column: 1 / 2;
                grid-row: 2 / 3;
                container-type: size;
                align-self: stretch;
                padding-bottom: 10cqmin;
            }
            &.animation {
                animation: enter-opacity 2s ease 1.5s both;
            }
            &_circle-color {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -43%);
                width: 65cqmin;
                height: 65cqmin;
                border-radius: 50%;
                @include respond(l) {
                    width: 80cqmin;
                    height: 80cqmin;
                }
                &.animation1 {
                    background-color: rgba(228, 7, 7, 0.5);
                    -webkit-animation: flicker-in-main 2s linear 1.5s both;
                    animation: flicker-in-main 2s linear 1.5s both;
                }
                &.animation2 {
                    -webkit-backface-visibility: hidden;
                    backface-visibility: hidden;
                    will-change: background-color;
                    -webkit-animation: color-change-1 8s linear infinite
                        alternate both;
                    animation: color-change-1 8s linear infinite alternate both;
                    @include respond(l) {
                        -webkit-animation: color-change-1-small 8s linear
                            infinite alternate both;
                        animation: color-change-1-small 8s linear infinite
                            alternate both;
                    }
                }
            }
            &_filter {
                position: absolute;
                width: 100%;
                height: 100%;
                -webkit-backdrop-filter: blur(4cqmin);
                backdrop-filter: blur(4cqmin);
            }
            &_circle-1 {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -43%);
                width: 52cqmin;
                height: 52cqmin;
                border-width: 4cqmin;
                border-color: var(--bg-main-color);
                border-style: solid;
                border-radius: 50%;
                -webkit-backdrop-filter: invert(100%);
                backdrop-filter: invert(100%);
                @include respond(l) {
                    width: 70cqmin;
                    height: 70cqmin;
                }
            }
            &_circle-2 {
                position: absolute;
                z-index: 4;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -43%);
                width: 52cqmin;
                height: 52cqmin;
                border: 4cqmin solid;
                border-radius: 50%;
                border-color: transparent transparent var(--bg-main-color)
                    transparent;
                @include respond(l) {
                    width: 70cqmin;
                    height: 70cqmin;
                }
            }
            &_circle-3 {
                position: absolute;
                z-index: 2;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -43%);
                width: 53cqmin;
                height: 53cqmin;
                border-width: 4cqmin;
                border-color: var(--bg-main-color);
                border-style: solid;
                border-radius: 50%;
                @include respond(l) {
                    width: 71cqmin;
                    height: 71cqmin;
                }
            }
            & img {
                position: absolute;
                z-index: 3;
                top: 50%;
                left: 50%;
                transform: translate(-45%, -58%);
                width: 43cqmin;
                @include respond(l) {
                    width: 59cqmin;
                    transform: translate(-45%, -58%);
                }
            }
        }
    }
}
