.not-found {
    height: 100dvh;
    background-color: var(--bg-main-color);
    flex-direction: column;
    user-select: none;

    &_text {
        font-family: "Noto Sans Display";
        font-weight: 500;
        font-size: clamp(30px, 4cqw, 70px);
        color: var(--text-main-color);
        margin-bottom: 10cqh;
    }
    &_button {
        font-family: "Noto Sans Display";
        font-weight: 400;
        color: var(--text-button-color);
        background-color: var(--bg-button-color);
        border-radius: 10px;
        border-width: 2px;
        border-style: solid;
        border-color: var(--text-main-color);
        padding: 1cqh 1cqw;
        margin-bottom: 4cqh;
        font-size: clamp(15px, 1.3cqw, 20px);
    }
}
