.skills {
    background-color: var(--bg-main-color);
    display: flex;
    flex-wrap: wrap;
    padding: 4cqmin 6cqmin;
    column-gap: 5cqmin;
    row-gap: 8cqmin;
    justify-content: space-around;
}
